@{Layout="_Layout";}

@using HairSalon.Models;
@model HairSalon.Models.Cuisine;

<h2>@Html.DisplayFor(model => model.Name)'s Clients</h2>

@if(Model.Clients.Count == 0)
{
  <p>@Html.DisplayFor(model => model.Name) needs to hustle and @Html.ActionLink("add a client.", "Create", "Clients")</p>
}

@foreach (Client client in Model.Clients)
{
  <p>@Html.ActionLink($"{client.Name}", "Details", "Client", new {id = client.StylistId}, new {@class = "btn btn-secondary btn-sm"})</p>
}

<p>@Html.ActionLink("New Client", "Create", "Clients", new {id = Model.StylistId}, new { @class = "btn btn-dark btn-large" })</p> 
<p>@Html.ActionLink("Edit this Stylist", "Edit", new { id = Model.StylistId }, new { @class = "btn btn-dark btn-large" } )</p>
<p>@Html.ActionLink("Delete this Stylist", "Delete", new { id = Model.StylistId }, new { @class = "btn btn-dark btn-large" } )</p>