@{Layout = "_Layout";}

@model HairSalon.Models.Client

<h3>Edit the details for: @Html.DisplayFor(model => model.Name)</h3>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.ClientId)
  <label for="AllStylists">Stylist</label>
  @Html.DropDownList("AllStylists");
  @Html.LabelFor(model => model.Name)
  @Html.EditorFor(model => model.Name)
  <input type="submit" value="Save Changes"/>
}